<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/outerPlugin/sweetalert.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href={{cssModule}} media="screen" title="no title" charset="utf-8">
</head>
<body>
  <header>
    {{common/header}}
  </header>

  <div class="content-warp">
      {{{body}}}
  </div>

  <footer>
    {{common/footer}}
  </footer>
</body>